* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #1d1814;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
